<#import "lib/template.ftl" as template>
<@template.header "Initializing...">
   <meta http-equiv="refresh" content="5" >
</@template.header>

<div>
    <p>Internal caches are still initializing. Please wait...</p>
</div>

<br>
</div>
</body>
</html>
